@use "../partials/typography" as *;
@use "../partials/breakpoints" as *;
@use "./variables" as *;

.nav {
  background-color: $primary-black;
  display: flex;
  flex-direction: column;

  @include media-tablet {
    display: flex;
    flex-direction: row;
  }

  &__list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    text-align: center;
    margin: 0;

    @include media-tablet {
      align-items: center;
    }

    @include media-desktop {
      margin-left: 4rem;
    }
  }

  &__logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 1.3rem 0;
    width: 40%;

    @include media-tablet {
      margin: 0 3rem;
      width: 60%;
      height: 95%;
    }

    @include media-desktop {
      margin-left: 5rem;
      width: 70%;
      height: 95%;
      font-size: 1.5rem;
      line-height: 3rem;
    }
  }

  &__list-item {
    @include fontRegular;
    font-size: 1.3rem;
    width: 50%;
    padding-bottom: 1rem;
    color: $secondary-mercury;
    border-bottom: none;

    &:hover {
      color: $primary-white;
      font-weight: bold;
      border-bottom: 0.3rem solid $primary-white;
    }

    &.active {
      color: $primary-white;
      font-weight: bold;
      border-bottom: 0.3rem solid $primary-white;
      &:hover {
        border-bottom: none;
      }
    }

    @include media-tablet {
      width: auto;
      margin: 0 1rem;
      font-size: 1.2rem;
      height: 100%;
      padding: 1.6rem 0;
    }

    @include media-desktop {
      font-size: 1.4rem;
      line-height: 3rem;
    }
  }

  &__link {
    text-decoration: none;
    color: $secondary-mercury;
  }
}
